include ../../controls/main-btn/main-btn

mixin base-card(data)
  .base-card
    .base-card__header
      small!= data.label
      span!= data.title

    .base-card__content
      .base-card__content-section
        if data.text
          p!= data.text
        if data.featureList
          ul.base-card__feature-list
            each item in data.featureList
              li!= item
    .base-card__footer
      if data.oldCost
        span.base-card__price.base-card__price--old!= data.oldCost
      span.base-card__price!= data.cost

      .flex-row
        +main-btn({
          type: 'button',
          text: 'Оставить заявку',
          iconName: 'envelope',
          iconWidth: 20,
          iconHeight: 20,
          iconPosition: 'left',
          modal: 'offer-modal'
        })

        +main-btn({
          type: 'link',
          href: '#',
          text: 'Подробнее',
          cls: 'main-btn--outlined',
        })
